@import '../fonts/fontWeight';

.PageTitle {
	margin: 0 0 1.25em;
	font: $regular 2.25em/1.5 'Quicksand', sans-serif;
}

.Section {
	&:not(:last-of-type) {
		margin-bottom: 4em;
	}

	&__title {
		margin: 0 0 1.25em;
		font: $regular 1.5em/1.5 'Quicksand', sans-serif;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
		grid-gap: 2.5em;
		width: calc(100% + 2em);
		margin: 0;
		padding: 0 0 1em;
		//overflow: auto;
		list-style-type: none;

		> li::before {
			display: block;
			height: 0;

			content: '\200B';
		}
	}
}

.BookCard {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1em;

	&__title {
		font: $regular 1em/1.5 'Raleway', sans-serif;
	}

	&__media {
		order: -1;
		margin: 0 auto;
	}

	dl {
		display: grid;
		grid-template-columns: max-content 1fr;
		grid-gap: 0.5em 1em;
		align-items: baseline;
		margin: 0;
	}

	dt {
		font: $regular 0.75em/1.5 'Quicksand', sans-serif;
	}

	dd {
		margin: 0;
		font: $regular 0.875em/1.5 'Quicksand', sans-serif;
	}

	a {
		outline: none;
		color: var(--primary-color);

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: .25em;
			content: '';
			transition: all .3s ease;
		}

		&:hover,
		&:focus {
			&::before {
				box-shadow: var(--primary-color) 0 0 .25em .25em;
			}
		}
	}
}
