@import "~normalize.css";
@import "fonts/fontWeight";
@import "fonts/font-face";

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation-duration: 0s !important;
  }
}

:root {
  --primary-color: #5BA788;
  --nav-color: #323031;
  --content-color: #3D3B3C;
  --error-color: #3D3B3C;
  --text-color: #FFFFFF;

  color: var(--text-color);
  font: $regular 1em/1.4 Raleway, sans-serif;
  scroll-behavior: smooth;
  background: var(--content-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

svg,
img,
picture {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

main {
  flex-grow: 1;
}
