@import '~normalize.css';
@import 'fonts/fontWeight';
@import 'fonts/font-face';
@import 'stylesUtils/mixins/mediaqueries.scss';

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition: none !important;
		animation-duration: 0s !important;
	}
}

:root {
	--primary-color: #5ba788;
	--nav-color: #323031;
	--nav-color-rgb: 50, 48, 49;
	--content-color: #3d3b3c;
	--error-color: #3d3b3c;
	--text-color: #ffffff;
	--nav-width: 20rem;

	color: var(--text-color);
	font: $regular 1em/1.4 Raleway, sans-serif;
	scroll-behavior: smooth;
	background: var(--content-color);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template: 'header header' auto 'nav content' auto 'footer footer' auto / 0 1fr;
	min-height: 100vh;
	transition: all .3s ease;

	@include navigationSwitch {
		grid-template-columns: var(--nav-width) 1fr;
	}
}

.Header {
	grid-area: header;
}

.Footer {
	grid-area: footer;
}

main {
	grid-area: content;
	padding: 2em;
}

svg,
img,
picture {
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}

.readerOnly {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: 0;
	overflow: hidden;

	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0 0, 0 0, 0 0);
}
